<h4><i class="fa fa-fw fa-heart"></i> Oblíbené aktivity</h4>



<div class="panel panel-default">
    <div class="panel-body">


        <div class="alert alert-info">
            <p>Oblíbené aktivity se zobrazují prioritně při zadávání timesheetů.</p>
            <p>Své oblíbené aktivity a jejich pořadí si nastavte přetažením do levého sloupce.</p>
        </div> <!-- .alert -->

        <div class="row">
            <div class="col-xs-6">
                <h5>Oblíbené</h5>
                <div id='activityChosen' class="sortable sortable-activity connectedSortableActivity">
                    {% for key, activity in activitiesChosen %}
                        <div id="activity_{{ key }}" class="sortable-item">{{ activity }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-xs-6">
                <h5>Všechny</h5>
                <div id='activityToChoose' class="sortable sortable-activity connectedSortableActivity">
                    {% for key, activity in activitiesToChoose %}
                        <div id="activity_{{ key }}" class="sortable-item">{{ activity }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-right">
                <button class="btn btn-primary btn-activitySave" data-url="{{ path('app_favourite_activity_save') }}">Uložit</button>
            </div> <!-- .col-lg-12 -->
        </div> <!-- .row -->

    </div> <!-- .panel-body -->
</div> <!-- .panel -->