{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% macro widget_prototype(widget) %}

    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set firstName = widget.vars.prototype.firstName %}
        {% set lastName = widget.vars.prototype.lastName %}
        {% set position = widget.vars.prototype.position %}
        {% set email = widget.vars.prototype.email %}
        {% set telephone = widget.vars.prototype.telephone %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set firstName = widget.firstName %}
        {% set lastName = widget.lastName %}
        {% set position = widget.position %}
        {% set email = widget.email %}
        {% set telephone = widget.telephone %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="panel panel-default" data-content="{{ name }}">
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-10">
                    <div class="form-group" style="margin-bottom: 0;"> <!-- TODO -->
                        <div class="row">
                            <div class="col-lg-4">
                                {{ form_row(firstName) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(lastName) }}
                            </div>
                            <div class="col-lg-4">
                                {{ form_row(position) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                {{ form_row(email) }}
                            </div>
                            <div class="col-lg-6">
                                {{ form_row(telephone) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 text-right">
                    <a href="#" class="btn btn-danger btn-remove" data-related="{{ name }}">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro widget_prototype2(widget) %}

    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set jobPosition = widget.vars.prototype.jobPosition %}
        {% set rateExternal = widget.vars.prototype.rateExternal %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set jobPosition = widget.jobPosition %}
        {% set rateExternal = widget.rateExternal %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="row row-source" data-content="{{ name }}">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6 jobPosition">
                    {{ form_row(jobPosition) }}
                </div>
                <div class="col-lg-6 rateExternal">
                    {{ form_row(rateExternal) }}
                </div>
            </div>
        </div>
        <div class="col-lg-2 text-right">
            <a href="#" style="margin-top: 28px;" class="btn btn-danger btn-remove-source" data-related="{{ name }}">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>

{% endmacro %}

{% macro widget_prototype3(widget) %}

    {% if widget.vars.prototype is defined %}
        {% set form = widget.vars.prototype %}
        {% set userCompany = widget.vars.prototype.userCompany %}
        {% set owner = widget.vars.prototype.owner %}
        {% set jobManager = widget.vars.prototype.jobManager %}
        {% set jobConsultant = widget.vars.prototype.jobConsultant %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set userCompany = widget.userCompany %}
        {% set owner = widget.owner %}
        {% set jobManager = widget.jobManager %}
        {% set jobConsultant = widget.jobConsultant %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="row row-manager" data-content="{{ name }}">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6">
                    {{ form_widget(userCompany) }}
                </div>
                <div class="col-lg-2">
                    {{ form_row(owner) }}
                </div>
                <div class="col-lg-2">
                    {{ form_row(jobManager) }}
                </div>
                <div class="col-lg-2">
                    {{ form_row(jobConsultant) }}
                </div>
            </div>
        </div>
        <div class="col-lg-2 text-right">
            <a href="#" class="btn btn-danger btn-remove-manager" data-related="{{ name }}">
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>

{% endmacro %}

<div class="col-lg-8 col-lg-offset-2">

    {{ form_errors(form) }}

    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-tabs-light nav-justified">
                <li role="presentation" class="active">
                    <a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">
                        Základní údaje
                    </a>
                </li>
                <li role="presentation">
                    <a href="#contact-persons" aria-controls="contact-person" role="tab" data-toggle="tab">
                        Kontaktní osoby klienta
                    </a>
                </li>
                <li role="presentation">
                    <a href="#sources" aria-controls="sources" role="tab" data-toggle="tab">
                        Pracovní pozice
                    </a>
                </li>
                <li role="presentation">
                    <a href="#team" aria-controls="team" role="tab" data-toggle="tab">
                        Oprávnění
                    </a>
                </li>
            </ul>
        </div> <!-- .col-lg-12 -->
    </div> <!-- .row -->


    <div class="panel panel-default panel-nav-tabs">
        <div class="panel-body">

            {{ form_start(form, {'attr' : {'id' : 'form'}}) }} <!-- začne formulář -->

            <div class="tab-content">

                <!-- 1. záložka -->
                <div role="tabpanel" class="tab-pane active" id="basic-info">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                {{ form_row(form.nameOwn) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.year) }}
                            </div>
                            <div class="form-group">
                                {{ form_row(form.companyGroup) }}
                            </div>
                        </div>
                    </div>
                </div> <!-- .tab-pane -->





                <!-- 2. záložka -->
                <div role="tabpanel" class="tab-pane" id="contact-persons">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="contactPersons" data-prototype="{{ _self.widget_prototype(form.contactPersonList.contactPersons)|escape }}">

                                {% for contactPerson in form.contactPersonList.contactPersons %}

                                    {{ _self.widget_prototype(contactPerson) }}

                                {% endfor %}

                            </div>
                            <a href="#" class="btn btn-default btn-add" data-target="contactPersons"><i class="fa fa-plus"></i></a>
                            <br>
                        </div>
                    </div>
                </div> <!-- .tab-pane -->

                <!-- 3. záložka -->
                <div role="tabpanel" class="tab-pane" id="sources">

                    <div class="row">
                        <div class="col-lg-12">
                            <div id="sources-relations" data-prototype="{{ _self.widget_prototype2(form.sourceList.sources)|escape }}">

                                {% for source in form.sourceList.sources %}

                                    {{ _self.widget_prototype2(source) }}

                                {% endfor %}

                            </div>
                            <a href="#" class="btn btn-default btn-add-source" data-target="sources"><i class="fa fa-plus"></i></a>
                            <a href="#" class="btn btn-warning btn-xs btn-via-client">Předvyplnit podle klienta</a>
                            <br>
                        </div>
                    </div>

                </div> <!-- .tab-pane -->

                <!-- 4. záložka -->
                <div role="tabpanel" class="tab-pane" id="team">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="campaignManagers" data-prototype="{{ _self.widget_prototype3(form.campaignManagers)|escape }}">

                                {% for campaignManager in form.campaignManagers %}

                                    {{ _self.widget_prototype3(campaignManager) }}

                                {% endfor %}

                            </div>
                                <a href="#" class="btn btn-default btn-add-manager" data-target="campaignManagers"><i class="fa fa-plus"></i></a>
                                <a href="#" class="btn btn-warning btn-xs btn-via-cg">Předvyplnit podle skupiny</a>
                            <br>
                        </div>
                    </div>
                </div> <!-- .tab-pane -->

            </div> <!-- .tab-content -->





            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="{{ submitLabel }}">
                <!-- mezi začátek a konec je možné vkládat vlastní formulářové prvky, ale pokud nejsou vloženy i na backendu, tak nebudou zpracovány -->
            </div>

            {{ form_widget(form._token) }}

            {{ form_end(form, {'render_rest': false}) }} <!-- skončí formulář (dovykreslí nevykreslené prvky formuláře a poté ukončovací značku) -->

            <!-- a takto to je všechno - určitě budeš potřebovat vědět, jaké jsou názvy (name) prvků ve formuláři - tyto names zjistíš tak, že si dáš vykreslit celý formulář a v kodu v prohližeči to najdeš, nebo si otevřeš soubor, který definuje formulář (resp. formulářový typ: src/AppBundle/Form/Type/ContactFormType.php) -->


        </div> <!-- .panel-body -->
    </div> <!-- .panel -->

</div> <!-- .col-lg-6 -->