{% extends "::layout-secured.html.twig" %}
{% set title = "Kampaň " ~ campaign.data.name %}
{% block title %}{{ title }} {{ titleSeparator }} {{ parent() }}{% endblock %}
{% block body_class %}page-contact-detail {{ parent() }}{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-12">
            <a class="btn btn-back btn-sm btn-default" title="Zpět" href="{{ path('app_client_detail', {'client_id' : campaign.data.client.id}) }}"><i class="fa fa-fw fa-caret-left"></i> Zpět</a>
        </div> <!-- .col-lg-12 -->
    </div> <!-- .row -->


    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <h2><i class="fa fa-fw fa-briefcase"></i> {{ campaign.data.client.name }} <small>klient</small> <span style="color: #888;">/</span> <strong>{{ campaign.data.nameOwn }} ({{ campaign.data.name }})</strong> <small>kampaň</small></h2>
                <span class="label label-primary"><i class="fa fa-fw fa-briefcase"></i> {{ campaign.data.client.contact.title }}</span>
                <span class="label label-primary"><i class="fa fa-fw fa-group"></i> {{ campaign.data.companyGroup.name }}</span>
            </div> <!-- .col-lg-6 -->

            <div class="col-lg-6 text-right">
                {% if campaign.canUpdate %}
                    <a class="btn btn-header btn-default" title="Upravit" href="{{ path('app_campaign_update', {'campaign_id': campaign.data.id}) }}"><i class="fa fa-fw fa-pencil"></i> Upravit</a>
                {% endif %}
                {% if canCreateJob %}
                    <a class="btn btn-header btn-warning" title="Nová zakázka" href="{{ path('app_commission_create', {'campaign_id': campaign.data.id}) }}">
                        <i class="fa fa-fw fa-plus"></i> Nová zakázka</a>
                {% endif %}
            </div> <!-- .col-lg-6 -->
        </div> <!-- .row -->
        <br>
        <div class="row">
            <div class="col-lg-2 small">
                Smluvní podmínky:
            </div>
            <div class="col-lg-10">
                {% for source in campaign.data.sourceList.sources %}
                    <div class="label label-info">{{ source.jobPosition.name }} ({{ source.rateExternal }}&nbsp;Kč)</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 small">
                Vlastníci kampaně:
            </div>
            <div class="col-lg-10">
                {% for manager in campaign.data.campaignManagers if manager.owner %}
                    <div class="label label-info">{{ manager.userCompany.user.fullName }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 small">
                Manažeři zakázek:
            </div>
            <div class="col-lg-10">
                {% for manager in campaign.data.campaignManagers if manager.jobManager %}
                    <div class="label label-info">{{ manager.userCompany.user.fullName }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 small">
                Pracovníci zakázek:
            </div>
            <div class="col-lg-10">
                {% for manager in campaign.data.campaignManagers if manager.jobConsultant %}
                    <div class="label label-info">{{ manager.userCompany.user.fullName }} ({{  manager.userCompany.data.rateInternal }}&nbsp;Kč)</div>
                {% endfor %}
            </div>
        </div>
    </div> <!-- .page-header -->

    <div class="row">
        <div class="col-lg-12">
            <h3>Zakázky</h3>
        </div>
    </div>

    {% if commissions|length == 0 %}

        <div class="alert alert-warning" role="alert">
            Není zde žádná zakázka.
        </div> <!-- .alert -->

    {% else %}

        <div class="row">
            <div class="col-lg-12">

                <div class="panel panel-default">

                    <div class="table-responsive">
                        <table id="table-contacts" class="table table-hover user-table table-datatable">
                            <thead>
                                <tr>

                                    <th class="text-center filterable no-orderable filterable-default" datatable-filterable-default="otevřený">

                                    </th>
                                    <th class="filterable">
                                        Název
                                    </th>
                                    <th class="filterable orderable-default">
                                        Kód
                                    </th>
                                    <th class="filterable">
                                        Stav
                                    </th>
                                    <th class="filterable">
                                        Zúčtovatelný
                                    </th>
                                    <th class="filterable">
                                        Od
                                    </th>
                                    <th class="filterable">
                                        Do
                                    </th>

                                    {% include '@App/include/sumarizations/thead.html.twig' %}

                                    <th class="text-right no-orderable">
                                        <!-- Akce -->
                                    </th>

                                </tr>
                            </thead>

                            <tbody>

                                {% for commission in commissions %}

                                    <tr class="contact-row">
                                        <td class="text-center">
                                            {% if commission.data.closed %}
                                                <i class="fa fa-fw fa-times-circle"></i><span class="hidden">uzavřený</span>
                                            {% else %}
                                                <i class="fa fa-fw fa-check-circle"></i><span class="hidden">otevřený</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a title="Detail zakázky" href="{{ path('app_commission_detail', {'commission_id': commission.data.id}) }}">
                                                {{ commission.data.nameOwn }}
                                            </a>
                                        </td>
                                        <td>
                                            <a title="Detail zakázky" href="{{ path('app_commission_detail', {'commission_id': commission.data.id}) }}">
                                                {{ commission.data.name }}
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            {{ commission.data.status }}
                                        </td>
                                        <td class="text-center">
                                            {% if commission.data.billable %}
                                                <i class="fa fa-fw fa-check-circle"></i><span class="hidden">ano</span>
                                            {% else %}
                                                <i class="fa fa-fw fa-times-circle"></i><span class="hidden">ne</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {{ commission.data.startDate.code }}
                                        </td>
                                        <td>
                                            {% if commission.data.endDate is not null %}
                                                {{ commission.data.endDate.code }}
                                            {% endif %}
                                        </td>

                                        {% include '@App/include/sumarizations/tbody.html.twig' with {'row' : commission.data} %}

                                        <td class="contact-action text-right">

                                            <a title="Detail zakázky" class="btn btn-sm btn-default" href="{{ path('app_commission_detail', {'commission_id': commission.data.id}) }}">
                                                <i class="fa fa-fw fa-search"></i>
                                            </a>

                                            {% if commission.data.repeatable %}
                                                <a title="Duplikovat" class="btn btn-sm btn-default" href="{{ path('app_commission_duplicate', {'commission_id': commission.data.id}) }}">
                                                    <i class="fa fa-fw fa-copy"></i>
                                                </a>
                                            {% endif %}

                                            <a title="Odstranit" class="btn btn-sm btn-default" href="{{ path('app_commission_delete', {'commission_id': commission.data.id}) }}">
                                                <i class="fa fa-fw fa-trash"></i>
                                            </a>

                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>

                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                    {% include '@App/include/sumarizations/tfoot.html.twig' %}

                                    <th class="text-right">
                                        <!-- Akce -->
                                    </th>
                                </tr>
                            </tfoot>

                        </table>
                    </div> <!-- .table-responsive -->

                </div> <!-- .panel panel-default -->

            </div> <!-- .col-lg-12 -->
        </div> <!-- .row -->

    {% endif %}




{% endblock %}
