<h4><i class="fa fa-fw fa-heart"></i> Oblíbené zakázky</h4>

<div class="panel panel-default">
    <div class="panel-body">

        <div class="alert alert-info">
            <p>Oblíbené zakázky se zobrazují prioritně při zadávání timesheetů.</p>
            <p>Své oblíbené zakázky a jejich pořadí si nastavte přetažením do levého sloupce.</p>
        </div> <!-- .alert -->

        <div class="row">
            <div class="col-xs-6">
                <h5>Oblíbené</h5>

                <div id='commissionsChosen' class="sortable sortable-commission connectedSortableCommission">
                    {% for key, value in commissionsChosen %}
                        <div id="commission_{{ key }}" class="sortable-item">{{ value }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-xs-6">
                <h5>Všechny</h5>

                <div id='commissionsToChoose' class="sortable sortable-commission connectedSortableCommission">
                    {% for key, value in commissionsToChoose %}
                        <div id="commission_{{ key }}" class="sortable-item">{{ value }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-right">
                <button class="btn btn-primary btn-commissionSave" data-url="{{ path('app_favourite_commission_save') }}">Uložit</button>
            </div> <!-- .col-lg-12 -->
        </div> <!-- .row -->

    </div> <!-- .panel-body -->
</div> <!-- .panel -->