{% extends "::layout-secured-simple.html.twig" %}
{% set title = "Vytvořit skupinu v " ~ company.name %}
{% block title %}{{ title }} {{ titleSeparator }} {{ parent() }}{% endblock %}
{% block body_class %}page-company-group page-company-group-create {{ parent() }}{% endblock %}

{% block content %}


    <div class="row">

        <div class="col-lg-12">
            <a class="btn btn-info" title="Zpět" href="{{ path('app_company_detail', {'company_id': company.id}) }}"><i class="fa fa-fw fa-caret-left"></i> Zpět</a>

            <div class="page-header text-center">
                <h2><i class="fa fa-fw fa-users"></i> {{ title }}</h2>
            </div>
        </div> <!-- .col-lg-12 -->

        {% include "@App/CompanyGroup/inc/companyGroupForm.html.twig" with {"form" : form, "company" : company, "types" : types, "companyPeople" : companyPeople, "submitUrl" : "", "submitLabel" : "Vytvořit"} %}

    </div> <!-- .row -->


{% endblock %}


{% block javascripts %}

    {{ parent() }}

    {% include "@App/CompanyGroup/inc/companyGroupFormJS.html.twig" %}

{% endblock %}
